.grid4.gap
  - for (var i = 0; i < 12; i++)
    .card
      h2.h2 Program Installation
      svg(style='height:5em;fill:tan')
        use(xlink:href='/medias/sprites/silos.svg#79v-d2')
      p The software include the handy wizard that helps you to install it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam error earum quibusdam quos accusantium quaerat. Illum, nostrum. Ad dolorum praesentium pariatur aliquam, distinctio omnis mollitia ipsum molestias maiores, delectus quae.
