p
  code .figure-focus
.grid3.gap
  div
    figure.figure-focus
      - var img = '/medias/images/demo/LotusTest'
      - var alt = 'Lotus'
      include ../utils/picture
  div
    figure.figure-focus
      - var img = '/medias/images/demo/ColorfulLeaf'
      - var alt = 'Colorful leaf'
      include ../utils/picture
  div
    figure.figure-focus
      - var img = '/medias/images/demo/GrassLeaf'
      - var alt = 'Grass leaf'
      include ../utils/picture
