.list-stripe-large.summary
  a(href='/') Home page
  a(href='https://github.com/Scriptura/ScripturaJS20') ScripturaJS20 on Github
  a(href='/login') Login page
  a(href='/register') Register page
  a(href='/person/1') Person page
  a(href='/user/admin') User page
  a(href='/article/1') Article page
  a(href='/place/1') Place page
  a(href='/os') Os page
  a(href='/calendar') Calendar page
  a(href='/styleGuide/') Style Guide
  a(href='/styles/expanded/main.css') Styles expanded
