.grid2
  .video
    iframe(src="https://www.youtube.com/embed/tr4dkk5ThTk" title="YouTube video player" frameborder="0" allowfullscreen)
    //- Option de l'iframe :
    //- allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
