svg(xmlns='http://www.w3.org/2000/svg', width='200', height='200' viewBox='220 50 1000 1000')
  path(d='M775 240c0 44.183-38.056 80-85 80s-85-35.817-85-80 38.056-80 85-80c43.144 0 79.444 30.42 84.43 70.754M410 240c0 44.183-38.056 80-85 80s-85-35.817-85-80 38.056-80 85-80c43.144 0 79.444 30.42 84.43 70.754', fill='#fea')
  g(transform='translate(0 -52.362)')
    path(d='M550 602.362c174.613 204.178 453.998 40.37 340-170 7.6 6.362 32.838-14.148 30-10 123.697 363.735-378.422 363.804-450 190-9.532-26.405 20.31-9.035 80-10z', fill='#fea')
    path(d='M840 292.362c80.93 90.913-74.364 117.945 80 170 114.112-73.267-84.302-192.647-80-170z', fill='#a05a2c')
    animatetransform#animateTransform12(attributeName='transform', type='rotate', from='0 500 500', to='30 500 500', dur='1s', begin='0s;animateTransform13.end', repeatCount='1', calcMode='spline', keySplines='0.8 0.7 0.3 0.8')
    animatetransform#animateTransform13(attributeName='transform', type='rotate', from='30 500 500', to='0 500 500', dur='1s', begin='animateTransform12.end', repeatCount='1', calcMode='spline', keySplines='0.8 0.7 0.3 0.8')
  g(fill='#fc0')
    path(d='M758.81 246.848c0 36.92-30.808 66.85-68.81 66.85s-68.81-29.93-68.81-66.85C621.19 209.928 652 180 690 180c34.926 0 64.31 25.42 68.348 59.123M405 250c0 38.66-32.46 70-72.5 70S260 288.66 260 250s32.46-70 72.5-70c36.8 0 67.76 26.618 72.014 61.91')
  path(d='M580 860c2.787-68.886-63.768-225.884-60-300 28.72-.444 51.333-22.04 80-20 .522.47 179.958 286.275 180 290-35.582 2.866-172.59 35.813-200 30z', fill='#fea')
  path(d='M280 810c-.438-1.362 128.8-278.757 130-280 .508-.526 109.344 29.33 110 30 .812.83-78.98 289.772-80 290 47.2 3.224-127.05-11.958-160-40z', fill='#fea')
  path(d='M450 390c0-16.57-13.43-30-30-30s-30 13.43-30 30 13.43 30 30 30 30-13.43 30-30zM620 390c0 16.57-13.43 30-30 30s-30-13.43-30-30 13.43-30 30-30 30 13.43 30 30z', fill='#fff')
  path(d='M619.877 391.856c-413.25 405.43-206.626 202.714 0 0z', fill='#ffb380')
  path(d='M435 389c0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15zM604 389c0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15z')
  path(d='M540 710c27.107-95.435-3.17-27.83-40-20-85.722 18.225.21-74.514-60-80-49.526-14.435-79.823 139.975-165.498 53.654C254.322 643.32 303.055 585.687 290 560c-8.105-28.815-50.377-11.654-60-40-9.752-26.368-.312-45.47 10-50 22.215-9.76 25.602-21.057 30-40 3.17-25.13-43.484-39.075-50-70-5.716-25.95 27.088-45.148 20-80-8.096-44.93 77.707 39.44 68.1 5.388-6.46-22.896-23.112-67.336-18.1-75.388 22.207-25.67 67.653-39.395 80-30 27.22 20.714 31.048 54.445 50 30 18.606-30.73-96.27-72.686 50-90 61.085-7.69 34.926 120.86 70 100 19.268-11.46-39.296-66.595 55.44-87.974C662.746 118.503 671.142 167.543 640 190c-18.843 13.588-6.38 28.766 0 40 67.544-3.256-1.772-64.65 80-50 120.65 21.615-41.732 93.593 10 110 22.48 14.362 57.298-81.585 70-50 16.8 25.018-1.512 81.237-60 130-2.26 38.95 50.092 9.365 70 10 44.373 1.417-49.905 87.022-80 80-.794 19.172 48.39 32.97 60 60 26.865 62.55-26.82 67.32-80 30-54.115-7.084-8.868 70.58 30 60 32.463-8.837 7.606 92.52-80 20-58.336-33.595-51.81-27.532-20 30 10.666 43.25-85.097 65.188-100 50z', fill='#a05a2c')
  path(d='M340 490c-55.34-92.69-7.77-157.105 0-170 9.77-16.216 69.253-92.36 130-10 31.79 24.304 62.474 9.524 70 0 59.264-74.99 109.29-18.726 130 10 26.1 47.836 24.58 92.868 10 140-9.09 46.87-65.308 103.94-170 110-71.37.43-120.334-8.45-170-80z', fill='#fc0')
  path(d='M439.797 412.41c-15.306 11.484-40.204 1.452-55.612-22.41-15.408-23.86-15.49-52.515-.185-64 15.306-11.485 40.204-1.453 55.612 22.408 15.408 23.862 15.49 52.516.185 64zM609.866 327.168c17.458 9.056 21.302 36.27 8.587 60.78-12.716 24.514-37.176 37.044-54.633 27.988-17.458-9.056-21.302-36.268-8.587-60.78 12.677-24.44 37.04-36.982 54.5-28.057l-22.89 44.452z', fill='#fea')
  g(transform='translate(355 -370)' fill='#000000')
    circle(cx='65', cy='755', r='26')
      animate#animateEyesL(attributeName='r', values='26;0;26', dur='0.5s', repeatCount='1', begin='5.1s;animateEyesL.end+5.1s')
    circle(cx='225', cy='755', r='26')
      animate#animateEyesR(attributeName='r', values='26;0;26', dur='0.5s', repeatCount='1', begin='5.1s;animateEyesR.end+5.1s')
  path(d='M445 530c-44.973-4.16-61.7-83.1-5-90 1.933-43.55 93.29-82.35 120 0 64.936 13.024 34.13 96.776-10 90-14.313 11.897-50.47 26.295-105 0z', fill='#fea')
  path(d='M420 480c17.174-60.826 160.87-57.583 160 0 5.19 57.847-149.132 67.075-160 0z', fill='#fff')
  path(d='M460 440c13.618-5.898 36.142-23.62 75 0-.714 28.706-12.762 55.55-35 60-24.153-3.426-35.12-25.296-40-60z', fill='#784421')
  path(d='M475 510c-.432 1.51 25.512 15.31 25-10-.166 18.787 14.1 18.054 26 11-13.665 7.986-14.7 4.374-26 4-9.312-1.304-10.926 7.085-25-5z', stroke='#000', stroke-width='1.351')
  path(d='M455 850c0 52.467-51.487 95-115 95s-115-42.533-115-95 51.487-95 115-95c58.37 0 107.483 36.124 114.23 84.02M807.188 845c0 52.467-52.467 95-117.188 95-64.72 0-117.188-42.533-117.188-95S625.28 750 690 750c64.133 0 116.353 41.792 117.178 93.778', fill='#fc0')
  path(d='M300 850c-17.607-15.942-54.31 2.47-40 70l20 10c-34.64-49.694-10.1-82.943 20-80zM360 860c-17.607-15.942-54.31 15.47-40 83l20 2c-34.64-49.694-10.1-87.943 20-85zM720 850c17.607-15.942 54.31 2.47 40 70l-20 10c34.64-49.694 10.1-82.943-20-80zM640 850c17.607-15.942 54.31 22.47 40 90l-20-3c34.64-49.694 10.1-89.943-20-87z', fill='#a05a2c')
