extends layout

block main
  main
    h1.main-heading Error #{error.status} 
      span #{message}
    .decorative-svg.gap-bottom
      include ../public/medias/images/Silos131v-d1.svg
    pre
      code(translate='no' data-select='Select and copy') #{error.stack}
    hr
    include includes/links
