extends layout

block main
  main
    h1.h2= _name
    img(src='/medias/images/TiLion1.3.svg', alt='Leo' style='width:10rem;transform:translate(-30px, 0)')
    br
    br
    block links
      include includes/links
