extends layout

block main
  main
    h1.h2= _name
    //-img(src='/medias/images/TiLion1.3.svg', alt='Leo' style='width:10rem;transform:translate(-30px, 0)')
    include includes/tiLion
    include includes/links
    if _calendar && _calendarUrl
      p
        a(href=_calendarUrl)!= _calendar
    else if _calendar
      p!= _calendar
    else
      p no calendar
