extends layout

block main
  main
    h1.h2= _name
    //-p Welcome to #{_title}
    img(src='/medias/images/TiLion1.3.svg', alt='Leo' style='width:10rem;transform:translate(-30px, 0)')
    br
    br
    .list-stripe-large.summary
      a(href='https://github.com/Scriptura/ScripturaJS20/blob/master/readme.md', target='_blank') Readme on Github
      a(href='https://github.com/Scriptura/ScripturaJS20', target='_blank') ScripturaJS20 on Github
      a(href='/article/1') Article page
      a(href='/person/1') Person page
      a(href='/user/1') User page
      a(href='/place/1') Place page
      a(href='/os') Os page
      a(href='/login') Login page
      a(href='/styleGuide/') Style Guide (test)
      a(href='/styles/expanded/main.css', target='_blank') Styles expanded
      a(href='https://scriptura.github.io/Pages/StyleGuide.html', target='_blank') Scriptura, Style Guide
      a(href='https://github.com/Scriptura/scriptura.github.io/blob/master/Styles/Partial/Core.styl', target='_blank') Core.styl on scriptura.github.io
