extends layout

block main
  main
    h1.h2= _name
    form(action='/login' method='post')
      .input
        label Utilisateur :
        input(type='text' name='username' placeholder='user' autocorrect='off' autocapitalize='off' spellcheck='false')
      .input
        label Mot de passe :
        input(type='password' name='password' placeholder='• • • • • • • •')
      div
        button.button Se connecter
      //- attribute html5: required='required'
      include includes/links
