extends layout

block main
  main
    h1.h2= _name
    form(action='/register' method='post')
      .input
        label Créez un nom d'utilisateur :
        input(type='text' name='username' placeholder='user')
      .input
        label Créez votre mot de passe :
        input(type='password' name='password' placeholder='• • • • • • • •')
      .input
        label Réentrez votre mot de passe :
        input(type='password' name='password2' placeholder='• • • • • • • •')
      div
        button.button Enregistrer
      //- attribute html5: required='required'
      br
      include includes/links
