extends layout

block main
  main
    .wrap
      h1.main-heading Style Guide 
        span documentation
      include includes/buttons
      hr
      include includes/forms
      hr
      include includes/typography
      hr
      include includes/lists
      hr
      include includes/messageBoxes
      hr
      include includes/codeBlocks
      hr
      include includes/images
      hr
      include includes/accordions
      hr
      include includes/cards
      hr
      include includes/grids
      hr
      include includes/columns
      hr
      include includes/zooms
