doctype html
html.no-js(lang='fr')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/styles/main.css', media='screen')
    //- link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
    //- link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#5bbad5')
    //- link(rel='manifest', href='/site.webmanifest')
    //- meta(name='msapplication-TileColor', content='#da532c')
    //- meta(name='theme-color' content='#ff6f7d')
  body
    main
      h1.h2 Style Guide
      p Lorem ipsum dolor sit amet, consetetur 
        ins sadipscing elitr
        |  
        code ins
        |  , sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Stet 
        small clita
        |  
        code small
        |  kasd gubergren, 
        s no sea takimata sanctus
        |  
        code s
        |  est Lorem ipsum 
        del dolor sit amet
        |  
        code del
        | .
      p
        | At vero eos et accusam et justo duo dolores et ea rebum. 
        strong Stet clita kasd gubergren
        |  
        code strong
        |, no sea takimata sanctus est. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      p.addtooltips
        | Nam liber tempor cum 
        a(href='#', title='Viewing the title in a tooltip.') soluta nobis
        |  eleifend option congue nihil imperdiet doming id 
        a(href='#', title='Demo link with a title.') quod mazim placerat
        |  facer possim assum. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
        a(href='/' title='Internal link') ullamcorper suscipit 
        | lobortis nisl ut aliquip ex ea 
        a(href='/' title='External link') commodo consequat
        |.
      p
        | Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
        em Stet clita kasd gubergren
        |  
        code em
        | , no sea takimata sanctus est. 
        mark Lorem ipsum dolor sit amet
        |  
        code mark
        |, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      blockquote(cite='http://developer.mozilla.org')
        p This is a quote placed in a block, rather elongated just for testing.
        footer
          | Information produced by 
          cite Name
      p
        var E
        | =
        var mc
          sup 2
        |  ; 
        var a
        |  + 
        var b
          sub 2
        | .
      include includes/links
    aside.aside aside
    nav.nav(role='navigation') nav
    block footer
      footer.footer footer
