extends layout

block main
  main
    .wrap
      h1 Style Guide
      include includes/typography
      hr
      include includes/messageBox
      hr
      include includes/codeBlocks
      hr
      include includes/images
      hr
      include includes/accordions
      hr
      include includes/forms
      hr
      include includes/links
