extends layout

block main
  main
    .wrap
      h1.h2 Style Guide
      include includes/typography
      include includes/messageBox
      include includes/codeBlocks
      include includes/images
      include includes/accordions
      include includes/forms
      include includes/links
