_accordionColor = darken(_colorG, 34%)

.accordion
  box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .25)

.accordion summary
.accordion .accordion-summary
    padding 1rem
    color #fff
    background _color1 linear-gradient(to top, rgba(0, 0, 0, .1), rgba(255, 255, 255, .05))
    cursor pointer
    outline none

.accordion summary::-webkit-details-marker
    display none

.accordion .accordion-summary
    display block
    width 100%
    font-family Arial
    font-size 1rem
    text-align left
    border none

.accordion > * > :first-child
    &:focus
    &:hover
    &:active
      background-color _color5
    &::before
      content '\002B'
      font-weight bold
      float right
      margin-left 5px

.accordion .open button
    background-color _color5

.accordion > * > :last-child
    padding 0 1rem
    //color #555
    //background-color #f8f7f5
    overflow hidden
    transition max-height .5s ease-out

.accordion details[open] summary::before
.accordion .open .accordion-summary::before
    content '\2212'

.accordion .accordion-panel
    max-height 0
    //border-left solid 1em _color5
    //border-image linear-gradient(_color5, _color1) 1
