_articlesColor = _colorG

.article
  max-width 50em
  //text-align justify
  background-color _articlesColor
  & [class*=grid] > *
    margin-top 0
  & [class*=grid]
    margin-bottom -.75em

@media (min-width _sizeXS)

  .article
    padding 4em 6em
    box-shadow 0 0 1.5rem rgba(0, 0, 0, .15)
