_breadcrumbSize = 2.5em
_breadcrumbColor = _colorAdd1
_breadcrumbColor1 = darken(_colorG, 34%)
_breadcrumbColor2 = _color2

.breadcrumb
  background-color _breadcrumbColor1

.breadcrumb ol
  display flex
  flex-wrap wrap // @note Pour les versions mobiles. @todo A supprimer peut-être...
  margin 0
  padding 0

.breadcrumb li
  list-style none
  filter drop-shadow(.5em .5em .5em rgba(0, 0, 0, .25))

.breadcrumb li:nth-child(1)
  z-index 2

.breadcrumb li:nth-child(2)
  z-index 1

@media (max-width _sizeXS)

  .breadcrumb li:last-child // @note Pour éviter les effets de bord sur portable quand fil d'ariane trop long @todo Non optimal car il vaux mieux contrôler à partir du contenu.
    display none

.breadcrumb a
  position relative
  display block
  //height _breadcrumbSize
  line-height _breadcrumbSize // @todo enlever les unités
  padding 0 (_breadcrumbSize / 4) 0 _breadcrumbSize
  font-size 1em //(_breadcrumbSize / 3)
  background-size cover
  background-repeat no-repeat
  color _breadcrumbColor
  text-decoration none

.breadcrumb a::after
  content ''
  position absolute
  z-index -1
  top 0
  right -(_breadcrumbSize / 2)
  display block
  width _breadcrumbSize
  height _breadcrumbSize
  //clip-path polygon(0 0, 0 0, 100% 50%, 0 100%, 0 100%)
  clip-path polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%)

.breadcrumb a
.breadcrumb a::after
  background-color _breadcrumbColor1
  transition background-color .3s ease-in-out

.breadcrumb li:first-child a
  padding-left 1em

.breadcrumb li:last-child a
  color _colorT
/*
.breadcrumb li a:focus
.breadcrumb li a:hover
.breadcrumb li a:active
  color #777
*/
.breadcrumb li a:focus
.breadcrumb li a:hover
.breadcrumb li a:active
.breadcrumb li a:focus::after
.breadcrumb li a:hover::after
.breadcrumb li a:active::after
  color #fff
  background-color _breadcrumbColor2
