// @subsection Buttons
// -----------------------------------------------------------------------------
// @note Toujours privilégier l'élément <button> sur l'élément <input type="button"> car il permet de réaliser des rendu plus complexe en acceptant d'autre balises html en son sein. De même, l'élément <button> remplace avantageusement un lien pour les actions en javascript.
// @link https://developer.mozilla.org/fr/docs/Web/HTML/Element/Button

.button
  overflow hidden
  margin-bottom 1em
  padding 0 1em
  line-height 2
  font-weight 300
  white-space nowrap
  text-overflow ellipsis
  color #fff
  background-color #e91e63
  outline 0
  border .5em solid #e91e63
  box-shadow 0 0.5rem 2rem rgba(0,0,0,0.3)
  cursor pointer
  background-image linear-gradient(to top,rgba(0,0,0,0.1),rgba(255,255,255,0.05))
  //border-radius $r4
  transition translateZ .1s linear

.button:hover
.button:focus
  box-shadow 0 0.5rem 2rem rgba(0,0,0,0.3);
  transform translate(0, -.1em)

.button:active
  box-shadow 0 0 0 #000
  transform translate(.1em, .4em)

.button-group
  display flex
  flex-wrap wrap
  margin-bottom 0 // @note Corrige la règle 'form > div'

.button-group > *
  margin-right 1em // @note Espacement entre deux boutons
