code
kbd
samp
  font-family monospace, monospace // @bugfix Correct the inheritance and scaling of font size @affected All browsers.
  font-size 1em // @bugfix Correct the odd `em` font sizing @affected All browsers.
  word-break break-all
  color Tan //#999
  border-radius .2em

:not(pre) > code
  padding .2rem
  background-color darken($color0, 5) // => #262626
  //border 1px solid #000

// @note Pas de style par défaut pour la balise `pre`

.pre
  position relative
  padding 1rem
  background-color darken($color0, 5) // => #262626
  //border-radius .2rem
  box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .25)

.pre code
  color #777

.pre code::before
  position absolute
  right 1rem
  content '# Code' attr(data-code)

.pre button
  position absolute
  bottom 1rem
  right 1rem
  padding 0
  border none
  color #777
  background-color transparent

.pre button:focus
.pre button:hover
.pre button:active
  color Orange
  outline none

.pre button:focus::before
.pre button:hover::before
.pre button:active::before
  content '> '
  animation blink 1s steps(2, start) infinite

@keyframes blink
  to
    visibility hidden
