// -----------------------------------------------------------------------------
// @section     Fonts
// @description Polices de caractères
// -----------------------------------------------------------------------------

if $fontName and $fontFile
  @font-face
    font-family $fontName
    src url('/fonts/' $fontFile '.woff2') format('woff2'),
        url('/fonts/' $fontFile '.woff') format('woff')
    font-weight normal
    font-style normal

if $fontName2 and $fontFile2
  @font-face
    font-family $fontName2
    src url('/fonts/' $fontFile2 '.woff2') format('woff2'),
      url('/fonts/' $fontFile2 '.woff') format('woff')
    font-weight normal
    font-style normal
