if _fontName and _fontFile
  @font-face
    font-family _fontName
    src url('/fonts/' _fontFile '.woff2') format('woff2'),
        url('/fonts/' _fontFile '.woff') format('woff')
    font-weight normal
    font-style normal

if _fontName2 and _fontFile2
  @font-face
    font-family _fontName2
    src url('/fonts/' _fontFile2 '.woff2') format('woff2'),
      url('/fonts/' _fontFile2 '.woff') format('woff')
    font-weight normal
    font-style normal
