.footer
  display flex
  justify-content space-between
  align-items center
  padding .5rem 1rem
  color _colorAdd1
  background-color #222

.footer > :first-child
  display flex
  align-items center


.footer .logo
.footer .logo svg
  height 2rem
  width  2rem
  margin-right 1rem

.footer > :nth-child(2)
  text-align center

.footer .author
  color #fff
  //font-variant small-caps