// -----------------------------------------------------------------------------
// @section Forms
// -----------------------------------------------------------------------------

fieldset
  border none // @affected All browsers
  margin 0
  padding 0

legend
  //@extend h3
  padding 0 // @bugfix Remove padding so people aren't caught out if they zero out fieldsets

label:focus
label:hover
label:active
label:checked
  cursor pointer

input[type=color]
  height 3em

input:not([type=button]):not([type=submit]):not([type=range])
select
  max-height 2.2em // @note Permet de contrôler la hauteur des champs invalides + les imput type date, color, etc...

select
  padding 1em // @affected Firefox
  white-space nowrap
  text-overflow ellipsis

select:not([multiple])
  -webkit-appearance none // @affected Chrome
  -moz-appearance none // @affected Firefox
  //background-image $image004
  //background-repeat no-repeat
  //background-position right .5em center // calc(100% - .5em) 50%
  //background-size 1em 1em
  border-radius 0 // @affected Chrome

select[multiple]
  min-height 5.6em

textarea
  min-height 10em // @note Propriété en lien avec 'resize'
  max-height 50vh // @note Idem
  resize vertical // @note Redimensionnement par l'utilisateur limité à la verticale
  padding 1em
  line-height 2

button
input
select
textarea
  font-family inherit // @affected All browsers
  font-size 100% // @affected All browsers
  margin 0 // @affected Firefox 4+, Safari 5, and Chrome

button
input
  line-height normal // @affected Firefox 4+
  border-radius 0 // @affected Chrome 62+/OS X

button
select
  text-transform none

button
:root input[type=button], // @affected Android 4.0
input[type=reset]
input[type=submit]
  -webkit-appearance button // @affected iOS
  cursor pointer

input[type=search]
  -webkit-appearance textfield // @affected Safari 5+

input[type=search]::-webkit-search-cancel-button
input[type=search]::-webkit-search-decoration
  -webkit-appearance none // @affected Safari 5+

textarea
  overflow auto // @affected IE 8-9
  vertical-align top

button[disabled]
html input[disabled]
  cursor not-allowed

::placeholder
  color #777


// @subsection Inputs
// -----------------------------------------------------------------------------
 // @note En raison de leurs éventails d'utilisations les inputs ne sont pas stylés par défaut, utilisation d'une class .input sur un élément parent

form > [class*=input]
form fieldset > [class*=input]
  width 100%
  margin 1em 0 1em

//@media (min-width $sizeXS)
//  form [class^=columns] > [class*=input]
//    padding-bottom 0

[class*=input] label
  display inline-block
  margin-bottom .5rem

[class*=input] input:not([type=button])
[class*=input] select
[class*=input] textarea
  width 100%
  padding .4em 1em
  background-color #444
  border .1em solid #444 //#222 // @note Permet d'anticiper le comportement des bordures colorées de '.invalid' en évitant des rattrapages en padding, aléatoires selon le type d'input

[class*=input] input
[class*=input] select
[class*=input] textarea
  color currentColor
  border-radius $r2

[class*=input] input:not([type=button]):focus
[class*=input] select:focus
[class*=input] textarea:focus
  outline none
  border .1rem solid #000
  //border-radius $r2

[class*=input].disabled label
  color #777

[class*=input].disabled input
  background #444 repeating-linear-gradient(-45deg, #777, #aaa 1px, transparent 1px, transparent 6px) repeat
  background-size 8px 8px
  cursor not-allowed

[class*=input].invalid input
[class*=input].invalid select
[class*=input].invalid textarea
  background-color #f00
  border-color #f00
  background-position right .7em center // @note Révision de l'emplacement de l'astérisque si champ obligatoire

[class*=input].invalid :not(:focus)
//[class*=input].invalid input:not(:focus)
//[class*=input].invalid select:not(:focus)
//[class*=input].invalid textarea:not(:focus)
  animation animInvalidInput 2s infinite

@keyframes animInvalidInput
  0%
    border-color #777
  50%
    border-color Orange
  100%
    border-color #000

.invalid p
  font-style italic
  color Orange

.invalid p::before
  content '\EA5A'
  //font-family GlyphIcons
  font-size .8em
  font-style normal
  margin-right .5em

[class*=input].invalid :focus + p::before
  animation animBlink 2s infinite

[class*=input] :required
[class*=input] .required // @note '.required' pour éléments select, et fallback all browsers
  //background-image $image002
  background-repeat no-repeat
  background-position right .5em center
  background-size 1em 1em

[class*=input] :required:focus
[class*=input] .required:focus
  background-image none

.input-see-password
  position relative

.input-see-password button
  position absolute
  top 2.1rem
  right 1rem
  height 2rem
  color #777
  background-color transparent
  border none

// @note Code intéresant si couplé à des regex :
//[class*=input] :invalid:focus
  // background-color #f2dede !important
//[class*=input] :valid:focus
  // background-color #dff0d8

input:-webkit-autofill
input:-webkit-autofill:hover
input:-webkit-autofill:focus
textarea:-webkit-autofill
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus
select:-webkit-autofill
select:-webkit-autofill:hover
select:-webkit-autofill:focus // @note Préremplissage des champs par le navigateur @affected Chrome
  -webkit-text-fill-color #ddd
  -webkit-box-shadow 0 0 0px 1000px #222 inset


// @subsection Buttons
// -----------------------------------------------------------------------------
// @note Toujours privilégier l'élément <button> sur l'élément <input type=button> car il permet de réaliser des rendu plus complexe en acceptant d'autre balises html en son sein.
// @link https://developer.mozilla.org/fr/docs/Web/HTML/Element/Button

.button
  overflow hidden
  margin-bottom 1em
  padding 0 1em
  line-height 2
  //font-weight 300
  white-space nowrap
  text-overflow ellipsis
  color #fff
  background-color #e91e63
  outline 0
  border .5em solid #e91e63
  box-shadow 0 0.5rem 2rem rgba(0,0,0,.3)
  cursor pointer
  background-image linear-gradient(to top,rgba(0,0,0,.1),rgba(255,255,255,.05))
  //border-radius $r4
  transition translateZ .1s linear

.button:hover
.button:focus
  box-shadow 0 0.5rem 2rem rgba(0,0,0,0.3);
  transform translate(0, -.1em)

.button:active
  box-shadow 0 0 0 #000
  transform translate(.1em, .4em)

.button-group
  display flex
  flex-wrap wrap
  margin-bottom 0 // @note Corrige la règle 'form > div'

.button-group > *
  margin-right 1em // @note Espacement entre deux boutons
