// Clases utilitaires pour CSS atomiques

// @note Cacher l'élément  @affected Lecteurs d'écran inclus
.hidden
[hidden]
  display none !important

@media (max-width _sizeXS)

  .sizeXS-hidden
    display none !important

.invisible // @note Cacher l'élément en laissant son emplacement @affected Lecteurs d'écran inclus
  visibility hidden

//.relative // @note Classe ajouté en js sur des éléments parents
//  position relative

.protected // @note Protège partiellement le texte en empêchant sa sélection
  user-select none

.onaline // @note Texte sur une ligne sans dépassement
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.gap-bottom
  margin-bottom _gap

.center
  display flex
  align-items center
  justify-content center

.icon
  display inline-block
  vertical-align sub
  height 1.2em
  width 1.2em
  margin-right .5em
  fill curentColor
