// Clases utilitaires

// @note Cacher l'élément  @affected Lecteurs d'écran inclus
.hidden
[hidden]
  display none !important

@media (max-width _sizeXS)

  .sizeXS-hidden
    display none !important

@media (min-width _sizeS) and (max-width _sizeL)

  .sizeL-hidden
    display none !important

.invisible // @note Cacher l'élément en laissant son emplacement @affected Lecteurs d'écran inclus
  visibility hidden

// @note Caché visuellement mais disponible pour les lecteurs d'écran.
// @see https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css

.sr-only
  position absolute
  overflow hidden
  width 1px
  height 1px
  margin -1px
  padding 0
  white-space nowrap
  clip rect(0, 0, 0, 0)
  border 0

//.relative // @note Classe ajouté en js sur des éléments parents
//  position relative

.protected // @note Protège partiellement le texte en empêchant sa sélection
  user-select none

.onaline // @note Texte sur une ligne sans dépassement
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.gap-bottom
  margin-bottom _gap

.center
  display flex
  align-items center
  justify-content center

// @subsection Zoom
// @note Ces classes permettent de d'augmenter ou réduire la taille de toutes les polices ou éléments enfants
// - cette technique est incompatible avec les unités vmin placés sur les titres
// - pas de '.zoom100' : aucun intérêt...
// - pas de possibilité de zoom avec cette technique au-dessous de 50%

for _i in 1000 900 800 700 600 500 450 400 350 300 250 200 175 150 140 130 120 115 110 105 95 90 85 80 75 70 60 50
  .zoom{_i}
    font-size _i * 1%

.zoom-reset // @note Réinitialisation d'un élément enfant si élément parent zoomé
  font-size 1rem // @note Valeur égale à la taille d'origine
