// -----------------------------------------------------------------------------
// @section Images
// -----------------------------------------------------------------------------

// @subsection Vector graphics
// -----------------------------------------------------------------------------

svg
  fill currentcolor // Pour les polices d'icônes par défaut.


// @subsection Raster images
// -----------------------------------------------------------------------------

img
  vertical-align middle // Évite un décalage possible de l'élément suivant
  //width 100% // @bugfix @todo Depuis l'introduction des attributs 'srcset' et 'sizes' la largeur ne doit plus dépendre de l'image par défaut
  height auto
  max-width 100%
  border-style none // @bugfix Remove the border on images inside links @affected IE 10.


// @subsection Figures
// -----------------------------------------------------------------------------

figure
  margin 0 // @bugfix @affected All browers

[class^=figure]
  //vertical-align middle
  width 100%
  padding .5em
  color $colorT
  background-color lighten($color0, 10%)
  box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .2)

[class^=figure] figcaption
  padding-top .5em
  text-align center

[class^=figure] + [class^=figure]
  margin-top 2em


// @subsection Thumbnails
// -----------------------------------------------------------------------------

[class*=-thumbnail]
  width 100% // Important à appliquer pour le responsive si le width n'est pas définit préalablement

@media (min-width $sizeXS)

  [class*=-thumbnail]
    max-width ($wrap / 4)


// @subsection .align
// -----------------------------------------------------------------------------

@media (min-width $sizeS)

  [class*=-alignleft]
    float left
    margin-right 1em

  [class*=-alignright]
    float right
    margin-left 1em

  [class*=-align] ~ h2
  [class*=-align] ~ h3
  [class*=-align] ~ hr
  [class*=-align] ~ aside
    clear both // @Note Ciblage de certains éléments faisants suite à une image flotante @todo Le margin-top de ces éléments n'est pas pris en compte sous l'image...


// @subsection Caption Slides
// -----------------------------------------------------------------------------

[class*=-captionslide]
  position relative
  overflow hidden

[class*=-captionslide]::before
  content '?'
  position absolute
  bottom 1em
  left 1em
  z-index 300
  width 2.5em
  height 2.5em
  line-height 2.5
  font-weight 600
  color $colorCL037
  text-align center
  text-shadow 0 0 .5em colorTS037
  background-color $colorBG037
  opacity .75
  border-radius 50%

[class*=-captionslide]:hover::before
  opacity 0

[class*=-captionslide] figcaption
  position absolute
  bottom -30%
  left 0
  margin 0 .5em .5em
  padding .5em
  color $colorCL038
  background-color $colorBG038
  opacity 0
  transition all .6s ease

[class*=-captionslide]:hover figcaption
  opacity 1
  bottom 0


// @subsection Focus
// -----------------------------------------------------------------------------

.js [class*=-focus]
  position relative
  cursor zoom-in
  transition .15s transform

.js [class*=-focus]:focus //-within
.js [class*=-focus]:hover
//.js [class*=-focus]:active
  //z-index 30
  box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .3)
  transform scale(1.01)

.js [class*=-focus]:focus-within
  background-color Orange

[class*=-focus]:focus-within svg
  fill Orange

[class*=-focus] button
.focus-off button
  position absolute
  z-index 1
  padding 0
  color #aaa
  background-color Transparent
  border none
  outline none
  cursor zoom-in

[class*=-focus] button
  top $gutter
  right $gutter
  width 1.2rem
  height 1.2rem

.focus-off
  position fixed
  display flex
  align-items center
  //justify-content center // @todo Nécessité de cette règle à évaluer...
  z-index 4001 // @note Doit passer au dessus de tout autre élément, notamment le scroll top
  top 0
  left 0
  bottom 0
  right 0
  padding 0 // @note Annule une règle du template
  //color #aaa
  //background-color #222 // @bugfix @affected Chrome mobile @note box-shadox sur l'image plutôt qu'un background sur le conteneur afin d'éviter un décalage d'environ 1px en bottom.
  cursor zoom-out

.focus-off img
  margin auto
  max-height 100vh
  background-color #000 // @note Pour les .png transparents
  box-shadow 0 0 0 1000rem #222

.focus-off button
  bottom $gutter
  right $gutter
  width 2rem
  height 2rem
  cursor zoom-out

[class*=-focus] button svg
.focus-off button svg
  width 100%
  height 100%
