// -----------------------------------------------------------------------------
// @section Images
// -----------------------------------------------------------------------------
//svg:not(:root)

.svg-color
  fill current // @todo A tester...

img
  vertical-align middle // @Note Évite un décalage possible de l'élément suivant
  //width 100% // @bugfix @todo Depuis l'introduction des attributs 'srcset' et 'sizes' la largeur ne doit plus dépendre de l'image par défaut
  height auto
  max-width 100%
  //border 0 // @bugfix @affected IE 8-9

figure
  margin 0 // @bugfix @affected IE 8-9 and Safari 5

[class*="thumbnail"]
  width 100% // @note Important à appliquer pour le responsive si le width n'est pas définit préalablement

@media (min-width $sizeXS)

  [class*="thumbnail"]
    max-width ($wrap / 4)


// @subsection Figures
// -----------------------------------------------------------------------------

[class^="figure"]
  //vertical-align middle
  width 100%
  padding .5em
  ifColor($colorCL036)
  background-color $colorBG036
  ifBoxShadow($colorBS036)

[class^="figure"] figcaption
  padding-top .5em
  text-align center

[class^="figure"] + [class^="figure"]
  margin-top 2em

// @subsection .align
// -----------------------------------------------------------------------------

@media (min-width $sizeS)

  [class*="-alignleft"]
    float left
    margin-right 1em

  [class*="-alignright"]
    float right
    margin-left 1em

  [class*="-align"] ~ h2
  [class*="-align"] ~ h3
  [class*="-align"] ~ hr
  [class*="-align"] ~ aside
    clear both // @Note Ciblage de certains éléments faisants suite à une image flotante @todo Le margin-top de ces éléments n'est pas pris en compte sous l'image...

// @note Pour le comportement des listes le long d'un flotant @todo En test...
// BEGIN test
//  [class*="-align"] ~ ul
//    padding-left 0
//    list-style-position inside // @params inside, outside, inherit
//  [class*="-align"] ~ ul li
//    text-indent 2.2em
// END test


// @subsection Caption Slides
// -----------------------------------------------------------------------------

[class*="-captionslide"]
  position relative
  overflow hidden

[class*="-captionslide"]::before
  content '?'
  position absolute
  bottom 1em
  left 1em
  z-index 300
  width 2.5em
  height 2.5em
  line-height 2.5
  font-weight 600
  color $colorCL037
  text-align center
  text-shadow 0 0 .5em colorTS037
  background-color $colorBG037
  opacity .75
  border-radius 50%

[class*="-captionslide"]:hover::before
  opacity 0

[class*="-captionslide"] figcaption
  position absolute
  bottom -30%
  left 0
  margin 0 .5em .5em
  padding .5em
  color $colorCL038
  background-color $colorBG038
  opacity 0
  transition all .6s ease

[class*="-captionslide"]:hover figcaption
  opacity 1
  bottom 0


// @subsection Focus
// -----------------------------------------------------------------------------

.js [class*="-focus"] // @note Si jQuery activé
  position relative
  cursor zoom-in
  transition .15s box-shadow, transform

.js [class*="-focus"]:focus
.js [class*="-focus"]:hover
.js [class*="-focus"]:active
  z-index 30
  ifBoxShadow($colorBS039)
  transform scale(1.01)

[class*="-focus"] [class*="icon"]
.focus-off [class*="icon"]
  position absolute
  z-index 1
  right $gutter

[class*="-focus"] [class*="icon"]
  top $gutter

.focus-off [class*="icon"]
  bottom $gutter

.focus-off
  position fixed
  display flex // @todo En test
  z-index 4001 // @note Doit passer au dessus de tout autre élément, notamment le scroll top
  top 0
  left 0
  bottom 0
  right 0
  color $colorCL040
  //background-color $colorBG040 // @bugfix @affected Chrome mobile @note box-shadow sur l'image plutôt qu'un background sur le conteneur afin d'éviter un décalage d'environ 1px en bottom.
  cursor zoom-out

.focus-off div // @bugfix @affected All browsers @note Image en flex item n'a pas son ratio préservé si resize ; une div intermédiaire entre le conteneur .focus-off et l'image corrige ce problème
  max-width 100% // @bugfix @affected Firefox
  margin auto // @note Pour flexitem

.focus-off img
  max-height 100vh
  background-color #000 // @note Pour les .png transparents
  box-shadow 0 0 0 1000rem $colorBS040
