// @subsection Inputs
// -----------------------------------------------------------------------------
 // @note En raison de leurs éventails d'utilisations les inputs ne sont pas stylés par défaut, utilisation d'une class .field sur un élément parent

form > div
form fieldset > div
  width 100%
  margin 1em 0

@media (min-width $sizeXS)

  form [class^="columns"] > div
    padding-bottom 0

[class*="input"] input:not([type="button"])
[class*="input"] select
[class*="input"] textarea
  width 100%
  padding .4em 1em
  background-color #444
  border .1em solid #444 //#222 // @note Permet d'anticiper le comportement des bordures colorées de '.invalid' en évitant des rattrapages en padding, aléatoires selon le type d'input

.input input // @note Évite l'application de la règle sur '.input-group'
[class*="input"] select
[class*="input"] textarea
  border-radius $r2

[class*="input"].disabled label
  color #777

[class*="input"].disabled input
  background $colorBG052a repeating-linear-gradient(-45deg, #777, #aaa 1px, transparent 1px, transparent 6px) repeat
  background-size 8px 8px
  cursor not-allowed

[class*="input"].invalid input
[class*="input"].invalid select
[class*="input"].invalid textarea
  background-color #f00
  border-color #f00
  background-position right .7em center // @note Révision de l'emplacement de l'astérisque si champ obligatoire

[class*="input"].invalid :not(:focus)
//[class*="input"].invalid input:not(:focus)
//[class*="input"].invalid select:not(:focus)
//[class*="input"].invalid textarea:not(:focus)
  animation animInvalidInput 2s infinite

@keyframes animInvalidInput
  0%
    border-color #777
  50%
    border-color Orange
  100%
    border-color #000

.invalid p
  font-style italic
  color Orange

.invalid p::before
  content '\EA5A'
  //font-family GlyphIcons
  font-size .8em
  font-style normal
  margin-right .5em

[class*="input"].invalid :focus + p::before
  animation animBlink 2s infinite

[class*="input"] :required
[class*="input"] .required // @note '.required' pour éléments select, et fallback all browsers
  //background-image $image002
  background-repeat no-repeat
  background-position right .5em center
  background-size 1em 1em

[class*="input"] :required:focus
[class*="input"] .required:focus
  background-image none

.input-password // @note Classe ajoutée via javascript
  position relative

.input-password [type="checkbox"]
  //content '\EAC7'
  position absolute
  bottom .7em
  right 0
  width 1em !important // @bugfix Firefox
  margin 0 1em 0 0
  cursor pointer

.input-password input:not([type="checkbox"])
  padding-right 3em
  border-radius $r2

// @note Code intéresant si couplé à des regex :
//[class*="input"] :invalid:focus
  // background-color #f2dede !important
//[class*="input"] :valid:focus
  // background-color #dff0d8
