
// @description Audio, vidéo et Caneva

// @note Classe `video` prévue pour les sources vidéos extérieures au site
// @note Classe `map` pour les cartes

audio
video
canvas
  width 100%

audio
video
.video
  background-color #000 // @bugfix @affected Google Maps, tag 'canvas' @note Pas de background prédéfinit sur tag 'canvas', afin d'éviter les conflits
  box-shadow _shadow15

audio
video
  outline none // @affected Firefox

audio
  height 2em // @bugfix @affected All browsers @note Nécessaire au positionnement
  //padding 0 0 .5rem // @bugfix @affected Chrome

audio:not([controls])
  display none // @affected All browsers @note Affichage de l'audio sans contrôle
  height 0 // @bugfix @affected iOS 5

video[poster]
  width 100% !important

.video
  position relative
  padding-bottom 56.25% // Ratio 16:9 par défaut

.video iframe
.video embed
.video object
  position absolute
