_menuSize = 2.5rem
_menuFix = 177px
_menuColor1 = darken(_colorG, 34%)
_menuColor2 = _colorAdd1
_menuColor3 = _color2

// Main menu

.nav
  display flex
  position relative // en lien avec z-index
  z-index 1000
  //height _menuSize
  //font-size 1em
  box-shadow .5rem .5rem .5rem rgba(0, 0, 0, .2)

.nav ul
  width 100%
  margin 0
  padding 0
  background-color _menuColor1

.nav li
  list-style none

.nav li > *
  display block
  padding 0 1em
  line-height unit(_menuSize, '')

.nav a
  color _menuColor2
  text-decoration none

/*
@media (min-width _sizeNav)
  for _i in 1..10
    .nav li:nth-child(11n+{_i}) > *
      _colorItem = lighten(_menuColor2, 5% * _i)
      background-color _colorItem
*/

.nav li > *
  //background-image linear-gradient(to top, rgba(0, 0, 0, .1) , rgba(255, 255, 255, .05))
  box-shadow inset .5rem .5rem .5rem rgba(0, 0, 0, .2)

.nav li a:focus
.nav li a:hover
.nav li a:active
  color #fff
  //background-image linear-gradient(to top, rgba(0, 0, 0, .3) , rgba(255, 255, 255, .2))
  background-color _menuColor3

.nav a:focus svg
.nav a:hover svg
.nav a:active svg
  animation animJump .5s ease-in-out

@media (max-width _sizeNav)

  .nav ul
    position absolute
    z-index 800
    left -100vw // @bugfix @affected Safari @note Pas de possibilité d'effet de droite à gauche : dépassement des conteneurs, même avec body overflow hidden-x
    //display none
    transition all 1s

  .nav.active ul
    left 0

@media (min-width _sizeNav)

  .nav ul
    display flex

  .nav ul .active
    position relative
    background-color _menuColor3

  .nav ul .active::after
    content ''
    position absolute
    top 2.5em
    left calc(50% - 1em)
    width 2em
    height 1em
    background-color _menuColor3
    clip-path polygon(0% 0%, 100% 0%, 50% 100%)

  @keyframes animJump
    30%
      transform translateY(-.3em)

  .nav ul > :last-child
      margin-left auto

// Hamburger

@media (max-width _sizeNav)

  .cmd-nav
    position absolute
    //top 0
    right 0
    z-index 1001
    width _menuSize
    height _menuSize
    padding (_menuSize / 10)
    cursor pointer
    background-color _menuColor1
    //fill #000
    border none
    outline none

  .cmd-nav svg
    width 100%
    height 100%

  .cmd-nav svg *
    transform-origin center
    transition transform .3s ease

  .cmd-nav svg *
    fill _menuColor3

  /*
  .cmd-nav svg :nth-child(1)
    fill Orange

  .cmd-nav svg :nth-child(2)
    fill _menuColor3 //Crimson

  .cmd-nav svg :nth-child(3)
    fill #8bc34a //Chocolate
  */

  .cmd-nav:focus
  .cmd-nav:hover
    background-color _menuColor3

  .cmd-nav:focus svg *
  .cmd-nav:hover svg *
    fill #fff
    //animation: .6s ease-in-out colorChange forwards

  .cmd-nav.active svg :nth-child(1)
    transform translate(- _menuFix, _menuFix) rotate(45deg)

  .cmd-nav.active svg :nth-child(2)
    transform rotate(-45deg)

  .cmd-nav.active svg :nth-child(3)
    transform translate(- _menuFix, - _menuFix) rotate(-45deg)

  /*
  @keyframes colorChange
    to
      fill #fff
  */

@media (min-width _sizeNav)

  .cmd-nav
    display none
