[class*=alert]
  margin-bottom 1em
  padding 1em
  color #fff
  background-color #222
  border-left .5em solid _color6 //.alert-primary
  box-shadow .5em .5em 2em rgba(0, 0, 0, .15)

.alert-secondary
  border-color _color1

.alert-success
  border-color _color4

.alert-danger
  border-color Red

.alert-warning
  border-color _color5

.alert-info
  border-color #777
