[class*=alert]
  margin-bottom 1rem
  padding 1rem
  color #fff
  background-color #222
  //border-radius 0 1rem 0 0
  box-shadow .5rem .5rem 2rem rgba(0, 0, 0, .15)

.alert-primary
  border-left .5rem solid $color6

.alert-secondary
  border-left .5rem solid $color1

.alert-success
  border-left .5rem solid $color4

.alert-danger
  border-left .5rem solid Red

.alert-warning
  border-left .5rem solid $color5

.alert-info
  border-left .5rem solid #777
