code
kbd
samp
  font-family monospace, monospace // @bugfix Correct the inheritance and scaling of font size @affected All browsers.
  font-size 1em // @bugfix Correct the odd `em` font sizing @affected All browsers.
  word-break break-all
  color Tan //#999
  border-radius .2em

:not(pre) > code
  padding .2rem
  background-color darken($color0, 5) // => #262626
  //border 1px solid #000

pre
  padding 1rem .5rem
  background-color darken($color0, 5) // => #262626
  //border-radius .2rem

pre code
  color #777

pre button
  position absolute
  bottom .5rem
  right .5rem
  border none
  color #777
  background-color transparent

pre button:focus
pre button:hover
pre button:active
  color Orange
  outline none

pre button:focus::before
pre button:hover::before
pre button:active::before
  content '> '
  animation blink 1s steps(2, start) infinite

@keyframes blink
  to
    visibility hidden
