// -----------------------------------------------------------------------------
// @section     Utilities
// @description Clases utilitaires pour CSS atomique
// -----------------------------------------------------------------------------

// @description Classe ajouté en js sur des éléments parents
.relative
  position relative

// @description Protège partiellement le texte en empêchant sa sélection
.protected
  user-select none

// @description Texte sur une ligne sans dépassement
.onaline
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

// @description Fond pour les cartes
.map
  background-color #000

// @description Classe prévue pour les sources vidéos extérieures au site
.video
  position relative
  padding-bottom 56.25% // Ratio 16:9 par défaut

.video iframe
.video embed
.video object
  position absolute
