// -----------------------------------------------------------------------------
// @section     Utilities
// @description Clases utilitaires pour CSS atomique
// -----------------------------------------------------------------------------

// @description Classe ajouté en js sur des éléments parents
.relative
  position relative

// @description Protège partiellement le texte en empêchant sa sélection
.protected
  user-select none

// @description Texte sur une ligne sans dépassement
.onaline
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
