// @description Définition des variables globales

// @note @bugfix Téléscopages possible entre les variables stylus et certaines valeurs. Par convention le framework utilise donc '_' pour les variables. Cela permet aussi un meilleur repérage des variables dans le code.


// @subsection  Grid

_gap = 1em                 // Gouttière, largeur entre deux modules (en unité em/rem)
_wrap = 90em + _gap * 2   // Largeur maximale du contenu (+ prise en compte du padding interne)


// @subsection  Breakpoints

// @bugfix Nécessité de préciser deux chiffres après la virgule pour éviter un décalage entre 'max-width' et 'min-width' (avec une unité pour éviter les arrondissements par les navigateurs)

_sizeXS =   36.01em
_sizeS =    50.01em
_sizeM =    65.01em
_sizeL =    90.01em
_sizeXL =  120.01em
_sizeXXL = 140.01em
_sizeNav =  68.01em // À caler sur la taille du contenu de '.nav-main ul'. @note Prévoir de la marge en raison des différences d'interprétation des fonts selon les navigateurs


// @subsection  Fonts
// @description Choix des polices de caractères à charger via @font-face
// @params 'false' si pas de font

_fontName = 'Open Sans'
_fontList = _fontName, Arial, sans-serif

_fontName2 = 'Noto Serif'
_fontList2 = _fontName2, Georgia, serif


// @subsection  Colors

_color0 = #444         // couleur de fond (#333A40 : bleu sombre Silos)
_color1 = #e91e63      // couleur dominante 1
_color2 = #ff6347      // couleur dominante 2 (tomato)
_color3 = #8bc34a      // couleur secondaire
_color4 = #629940      // couleur secondaire (vert) //#7cad42
_color5 = #ffa500      // couleur secondaire (orange)
_color6 = #628099      // couleur secondaire (bleu) //#3268c2
_color7 = #f8fed8      // couleur secondaire (jaune)
_colorT = #e9dac5      // couleur du texte
_colorG = _color0      // gris de référence
_colorW = #fff         // blanc de référence
_colorAdd1 = #d2b48c
_colorSelection = rgba(255, 99, 71, .5) // dérivée de _color2


// @subsection Rounds

_r1 = .3em             // Boites
_r2 = .2em             // Éléments internes
_r3 = false            // Éléments d'informations
_r4 = false            // Bouttons
