// @description Définition des variables globales

// @note @bugfix Téléscopages possible entre les variables stylus et certaines valeurs. Par convention le framework utilise donc '_' pour les variables. Cela permet aussi un meilleur repérage des variables dans le code.


// @subsection  Grid

_columns = 12                             // @note Nombre de colonnes
_gutter = 1rem                            // @note Gouttière, largeur entre deux modules (en unité em/rem)
_wrap = 90rem + 2                         // @note Largeur maximale du contenu (+ prise en compte du padding interne)


// @subsection  Breakpoints

// @bugfix Nécessité de préciser deux chiffres après la virgule pour éviter un décalage entre 'max-width' et 'min-width' (avec une unité pour éviter les arrondissements par les navigateurs)
_sizeXS =   36.01rem
_sizeS =    65.01rem
_sizeL =    90.01rem
_sizeXL =  120.01rem
_sizeXXL = 140.01rem
_sizeNav =  45.01rem // À caler sur la taille du contenu de '.nav-main ul'. @note Prévoir de la marge en raison des différences d'interprétation des fonts selon les navigateurs


// @subsection  Fonts
// @description Choix des polices de caractères à charger via @font-face
// @params 'false' si pas de font

_fontName = 'Open Sans'
_fontList = _fontName, Arial, Sans-Serif
_fontFile = openSans-Regular
_fontName2 = 'Noto Serif'
_fontList2 = _fontName2, Georgia, Serif
_fontFile2 = notoSerif-Regular


// @subsection  Colors

_color0 = #333                            // couleur de fond
_color1 = #e91e63                         // couleur dominante 1
_color2 = #b9515d                         // couleur dominante 2
_color3 = #8bc34a                         // couleur secondaire (@todo à définir)
_color4 = #8bc34a                         // couleur secondaire (vert)
_color5 = #ffa500                         // couleur secondaire (orange)
_color6 = #448aff                         // couleur secondaire (bleu)
_color7 = #f8fed8                         // couleur secondaire (jaune)
_colorT = #e9dac5                         // couleur du texte
_colorG = _color0                         // gris de référence
_colorAdd1 = #d2b48c


// @subsection Rounds

_r1 = .3rem                     // Boites
_r2 = _r1                       // Éléments internes
_r3 = false                     // Éléments d'informations
_r4 = false                     // Bouttons
