@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/openSans-Regular.woff2") format('woff2'), url("/fonts/openSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Serif';
  src: url("/fonts/notoSerif-Regular.woff2") format('woff2'), url("/fonts/notoSerif-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  color: #fff;
  background-color: #333;
  font-family: 'Open Sans', Arial, Sans-Serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
::-moz-selection {
  background-color: rgba(255,111,125,0.5);
}
::selection {
  background-color: rgba(255,111,125,0.5);
}
a {
  color: #e91e63;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #e91e63;
  text-decoration: underline;
}
p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.67em;
  font-family: 'Noto Serif', Georgia, Serif;
}
h1,
.h1 {
  font-size: 2.5em;
}
h2,
.h2 {
  font-size: 2em;
}
h3,
.h3 {
  font-size: 1.75em;
}
h4,
.h4 {
  font-size: 1.5em;
}
h5,
.h5 {
  font-size: 1.25em;
}
h6,
.h6 {
  font-size: 1em;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.15;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
blockquote {
  margin-left: 0;
  padding-left: 1.5em;
  border-left: 0.5em solid currentcolor;
}
blockquote footer {
  text-align: right;
}
blockquote footer::before {
  content: '\2014 \00A0';
}
blockquote footer::after {
  content: '.';
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  word-break: break-all;
  border: 1px solid #808080;
  border-radius: 0.2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  border-style: none;
}
[class*=thumbnail] {
  width: 100%;
}
@media (min-width: 36.01rem) {
  [class*=thumbnail] {
    max-width: 22.5rem;
  }
}
[class^=figure] {
  width: 100%;
  padding: 0.5em;
  background-color: $colorBG036;
}
[class^=figure] figcaption {
  padding-top: 0.5em;
  text-align: center;
}
[class^=figure] + [class^=figure] {
  margin-top: 2em;
}
@media (min-width: 65.01rem) {
  [class*=-alignleft] {
    float: left;
    margin-right: 1em;
  }
  [class*=-alignright] {
    float: right;
    margin-left: 1em;
  }
  [class*=-align] ~ h2,
  [class*=-align] ~ h3,
  [class*=-align] ~ hr,
  [class*=-align] ~ aside {
    clear: both;
  }
}
audio,
video,
canvas {
  width: 100%;
}
audio,
video,
.video {
  background-color: $colorBG041;
}
audio,
video {
  outline: none;
}
audio {
  height: 2rem;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
video[poster] {
  width: 100% !important;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
svg {
  fill: currentcolor;
}
.relative {
  position: relative;
}
.protected {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.onaline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.map {
  background-color: #000;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
}
.video iframe,
.video embed,
.video object {
  position: absolute;
}
body {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-columns: 1fr minmax(0, 90rem) 1fr;
  grid-template-areas: 'nav nav nav' '. header .' '. main .' 'aside aside aside' 'footer footer footer';
  min-height: 100vh;
  margin: 0;
}
body > * {
  padding: 1rem;
}
main {
  grid-area: main;
}
.header {
  grid-area: header;
  background-color: Orange;
}
.aside {
  grid-area: aside;
  background-color: #448aff;
}
.nav {
  grid-area: nav;
  background-color: #8bc34a;
}
.footer {
  grid-area: footer;
  background-color: #e91e63;
}
[tabindex=-1]:focus:not(:focus-visible) {
  outline: 0 !important;
}
[class^=columns] {
  -moz-column-gap: 0;
       column-gap: 0;
}
[class^=columns] > * {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}
@media (min-width: 36.01rem) {
  .columns2,
  .columns3,
  .columns4 {
    -moz-column-count: 2;
         column-count: 2;
  }
  .columns5,
  .columns6 {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (min-width: 65.01rem) {
  .columns3,
  .columns4 {
    -moz-column-count: 3;
         column-count: 3;
  }
  .columns5,
  .columns6 {
    -moz-column-count: 4;
         column-count: 4;
  }
}
@media (min-width: 90.01rem) {
  .columns4 {
    -moz-column-count: 4;
         column-count: 4;
  }
  .columns5 {
    -moz-column-count: 5;
         column-count: 5;
  }
  .columns6 {
    -moz-column-count: 6;
         column-count: 6;
  }
}
[class^=columns].gap {
  -moz-column-gap: $gap;
       column-gap: $gap;
}
[class^=columns].gap > * {
  margin-bottom: $gap;
}
@media (min-width: 36.01rem) {
  [class^=columns].sizeSgap {
    -moz-column-gap: $gap;
         column-gap: $gap;
  }
  [class^=columns].sizeSgap > * {
    margin-bottom: $gap;
  }
}
.summary {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1rem);
  margin-left: -1rem !important;
}
.summary > * {
  width: 100%;
  margin-left: 1rem !important;
  padding: 0;
}
@media (min-width: 36.01rem) {
  .summary > * {
    width: calc(50% - 1rem);
  }
}
@media (min-width: 65.01rem) {
  .summary > * {
    width: calc(33.33% - 1rem);
  }
}
@media (min-width: 90.01rem) {
  .summary > * {
    width: calc(25% - 1rem);
  }
}
[class*=list],
[class*=list] > * {
  padding-left: 0;
}
[class*=list] li {
  display: block;
}
[class*=list-stripe] > a {
  display: block;
  text-decoration: none;
}
[class*=list-stripe] {
  margin: 0;
}
:root [class*=list-stripe] > * {
  margin: 0.5em 0;
  padding: 0.3em 1em;
}
[class*=list-stripe] > * {
  background-color: #474747;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.1);
}
[class*=list-stripe] > a {
  color: inherit;
}
[class*=list-stripe] > a:focus,
[class*=list-stripe] > a:hover,
[class*=list-stripe] > a:active {
  background-color: Orange;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.25);
  outline: none;
  -webkit-animation: animList 0.1s ease-in-out;
          animation: animList 0.1s ease-in-out;
}
:root [class*=list-stripe-large] > * {
  padding: 0.5em 1em;
}
@-webkit-keyframes animList {
  50% {
    transform: scale(1.03) translateZ(0);
  }
}
@keyframes animList {
  50% {
    transform: scale(1.03) translateZ(0);
  }
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
label:focus,
label:hover,
label:active,
label:checked {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input:not([type=button]):not([type=submit]):not([type=range]),
select {
  max-height: 2.2em;
}
select {
  padding: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
select[multiple] {
  min-height: 5.6em;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ddd;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
}
::-webkit-input-placeholder {
  color: #777;
}
::-moz-placeholder {
  color: #777;
}
:-ms-input-placeholder {
  color: #777;
}
::-ms-input-placeholder {
  color: #777;
}
::placeholder {
  color: #777;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
:focus::-ms-input-placeholder {
  color: transparent;
}
:focus::placeholder {
  color: transparent;
}
form > [class*=input],
form fieldset > [class*=input] {
  width: 100%;
  margin: 1em 0 1em;
}
[class*=input] label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
[class*=input] input:not([type=button]),
[class*=input] select,
[class*=input] textarea {
  width: 100%;
  padding: 0.4em 1em;
  background-color: #444;
  border: 0.1em solid #444;
}
[class*=input] input,
[class*=input] select,
[class*=input] textarea {
  color: currentColor;
  border-radius: 0.3rem;
}
[class*=input] textarea {
  min-height: 10em;
  max-height: 50vh;
  resize: vertical;
  padding: 1em;
  line-height: 2;
}
[class*=input] input:not([type=button]):focus,
[class*=input] select:focus,
[class*=input] textarea:focus {
  outline: none;
  border: 0.1rem solid #000;
}
[class*=input] [type=color] {
  height: 3em;
  padding: 0;
}
[class*=input].disabled label {
  color: #777;
}
[class*=input].disabled input {
  background: #444 repeating-linear-gradient(-45deg, #777, #aaa 1px, transparent 1px, transparent 6px) repeat;
  background-size: 8px 8px;
  cursor: not-allowed;
}
[class*=input].invalid input,
[class*=input].invalid select,
[class*=input].invalid textarea {
  background-position: right 0.7em center;
}
[class*=input].invalid :not(:focus) {
  -webkit-animation: animInvalidInput 2s infinite;
          animation: animInvalidInput 2s infinite;
}
.invalid p {
  font-style: italic;
  color: Orange;
}
.invalid p::before {
  content: '!';
  font-size: 0.8em;
  font-style: normal;
  margin-right: 0.5em;
}
[class*=input].invalid :focus + p::before {
  -webkit-animation: animBlink 2s infinite;
          animation: animBlink 2s infinite;
}
[class*=input] :required,
[class*=input] .required {
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 1em 1em;
}
[class*=input] :required:focus,
[class*=input] .required:focus {
  background-image: none;
}
.input-password {
  position: relative;
}
.input-password button {
  position: absolute;
  top: 2.1rem;
  right: 0.5rem;
  height: 2rem;
  color: #777;
  background-color: transparent;
  border: none;
}
.input-password button:focus {
  outline: none;
}
.input-password button:focus,
.input-password button:hover,
.input-password button:active {
  color: Orange;
}
.button {
  overflow: hidden;
  margin-bottom: 1em;
  padding: 0 1em;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #e91e63;
  outline: 0;
  border: 0.5em solid #e91e63;
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.3);
  cursor: pointer;
  background-image: linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.05));
  transition: translateZ 0.1s linear;
}
.button:hover,
.button:focus {
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.3);
  transform: translate(0, -0.1em);
}
.button:active {
  box-shadow: 0 0 0 #000;
  transform: translate(0.1em, 0.4em);
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.button-group > * {
  margin-right: 1em;
}
@-webkit-keyframes animInvalidInput {
  0% {
    border-color: inherrit;
  }
  50% {
    border-color: Orange;
  }
  100% {
    border-color: inherrit;
  }
}
@keyframes animInvalidInput {
  0% {
    border-color: inherrit;
  }
  50% {
    border-color: Orange;
  }
  100% {
    border-color: inherrit;
  }
}
.accordion {
  box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.25);
}
.accordion summary,
.accordion .accordion-summary {
  padding: 1rem;
  color: #fff;
  background: Tomato linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.05));
  cursor: pointer;
  outline: none;
}
.accordion summary::-webkit-details-marker {
  display: none;
}
.accordion .accordion-summary {
  display: block;
  width: 100%;
  font-family: Arial;
  font-size: 1rem;
  text-align: left;
  border: none;
}
.accordion > * > :first-child:focus,
.accordion > * > :first-child:hover,
.accordion > * > :first-child:active {
  background-color: Orange;
}
.accordion .open button,
.accordion:focus,
.accordion:hover {
  background-color: Orange;
}
.accordion > * > :first-child::before {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion details[open] summary::before,
.accordion .open .accordion-summary::before {
  content: '\2212';
}
.accordion > * > :last-child {
  padding: 0 1rem;
  color: #555;
  background-color: #f8f7f5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion .accordion-content {
  max-height: 0;
}
.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4000;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.scroll-top.hide {
  display: none;
}
.scroll-top svg {
  height: 2rem;
  width: 2rem;
  fill: #000;
  opacity: 0.5;
}
.scroll-top:focus svg {
  fill: #aaa;
}
